<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <div class="sign-up">
      <div class="modal-wrapper">
        <div class="modal">
          <form action = "/" method ="post">
          <div class="overlap">
            <div class="group">
              <div class="rectangle"></div>
              <img class="image" src="{{ url_for('static', filename='img/image-1.png') }}" alt="Image-1" />
            </div>
            <div class="greeting">Know your next home</div>
            <div class="div">
              <div class="group-2">
                <div class="text-wrapper">Hello Star!</div>
                <div class="group-3">
                  <div class="phone">

                    <img class="eye-off" src="{{ url_for('static', filename='img/eye-off.png') }}" alt="eye-off"  />
                    <div class="group-4">
                      <div class="text-wrapper-2">Phone</div>
                      <img class="img" src="{{ url_for('static', filename='img/lock.png') }}" alt="lock"  />
                      <input type = "text" name = "phone" placeholder = "Phone" />
                    </div>
                  </div>
                  <div class="mail">

                    <div class="group-5">
                      <div class="text-wrapper-2">Email</div>
                      <img class="img" src="{{ url_for('static', filename='img/mail.png') }}" alt="mail" />
                      <input type = "text" name = "email" placeholder = "Email" />
                    </div>
                  </div>
                  <div class="name">

                    <div class="group-6">
                      <img class="img" src="{{ url_for('static', filename='img/avatar.png') }}" alt="avatar"  />
                      <div class="text-wrapper-2">Name</div>
                      <input type="text" name = "name" placeholder="name"  >
                    </div>
                  </div>
                  <div class="price">

                    <img class="eye-off" src="{{ url_for('static', filename='img/eye-off.png') }}" alt="eye-off"  />
                    <div class="group-7">

                      <div class="text-wrapper-2">Price</div>
                      <img class="img" src="{{ url_for('static', filename='img/eye-off') }}" alt="eye-off"  />
                      <input type="text" name = "price" placeholder="price"  >
                    </div>
                  </div>
                </div>
                <div class="group-8">
                  <p class="i-ve-read-and-agree">
                    <span class="span">I’ve read and agree to </span>
                    <span class="text-wrapper-3">Therms &amp; Conditions </span>
                  </p>
                  <div class="ellipse-wrapper"><div class="ellipse"></div></div>
                </div>
              </div>
              <div class="group-wrapper">
                <div class="overlap-group-wrapper">
                  <div class="overlap-group"><div class="text-wrapper-4">SIGN UP</div></div>
                </div>
              </div>
            </div>
          </div>
            </form>
        </div>
      </div>
    </div>
  </body>
</html>
